<app-main />
<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus dolorum ullam dolore, numquam, doloremque sed quae voluptate, repellendus pariatur cumque dolor? Eveniet commodi rerum consequatur explicabo temporibus eum blanditiis consequuntur?</div>
<!-- <div className={classes.video}>
	{Array.from(clients).map(clientID => (
		<video
			[class]="clientID === LOCAL_VIDEO ? 'local' : 'remote'"
			[width]="clientID === LOCAL_VIDEO ? '96px' : '320px'"
			[height]="clientID === LOCAL_VIDEO ? '54px' : '180px'"
			autoPlay
			playsInline
			[muted]="clientID === LOCAL_VIDEO"
			[ref]="(instance) => provideMediaRef(clientID, instance)"
		/>
	))}
</div>  -->